@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  font-family: var(--header-font);
}

.section_subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}

/*===============================  header ===========================*/

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav-bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.link a {
  padding: 1.5rem;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.header_container {
  padding: 11rem 1rem;
}

.header_container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}

.header_container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header_container h4::before {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

/*===============================  end header ===========================*/

/*===============================  about ===========================*/

.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about_container .section_header,
.about_container .section_subheader {
  text-align: left;
}

.about_flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}

.about_card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}

.about_card:last-child {
  border: none;
}

.about_card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.about_card p {
  font-size: 0.9rem;
}

.about_image img {
  max-width: 450px;
  margin: auto;
}

/*========== discover ============*/

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.discover .head {
  font-size: 3rem;
  font-family: var(--header-font);
  margin: 1rem;
  margin-top: 5rem;
}

.discover-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.discover-cards .card {
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.discover-cards .card .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  bottom: -4rem;
}

.discover-cards .card h4 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: var(--header-font);
}

.discover-cards .card .btn {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  width: 12rem;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.discover-cards .card:nth-child(1) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/discover-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discover-cards .card:nth-child(2) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/discover-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8rem;
}

.discover-cards .card:nth-child(3) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/discover-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*=================== blogs =================*/

#blogs {
  margin: 9rem 0;
}

.blogs {
  margin-top: 8rem;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.blogs h2 {
  font-size: 3rem;
  font-family: var(--header-font);
  color: var(--white);
}

.blog-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.blog-card {
  max-width: 30rem;
  height: 20rem;
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.blog-card h4 {
  font-size: 1.2rem;
  padding: 1.5rem;
}

.blog-cards .blog-card:nth-child(1) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/blog-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-cards .blog-card:nth-child(2) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/blog-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-cards .blog-card:nth-child(3) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/blog-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-cards .blog-card:nth-child(4) {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("./assets/blog-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*=================== end-blogs =================*/

/*======================== journals ==================*/

.Journals {
  margin: 2rem;
  padding: 2rem;
}

.Journals-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}

.Journals-head h2 {
  font-size: 3rem;
  font-family: var(--header-font);
}

.Journals-head p {
  max-width: 600px;
  text-align: center;
}

.journal-cards {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem !important;
}

.journal-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24rem;
  background-color: var(--primary-color-light);
}

.journal-img {
  width: 24rem;
}

.journal-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 2rem;
}

.journal-auth img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.journal-p {
  color: var(--white);
  opacity: 0.5;
}

.heads {
  margin: 0 2rem !important;
  width: 270px;
}

.journal-date {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
  color: var(--white);
  opacity: 0.5;
}

.journal-date span i {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.5;
}

.btn-journal {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*========================= end-journal ====================*/

/*========================= hero ========================*/

.hero-container p {
  text-align: center;
  font-size: 12rem;
  font-weight: 700;
  background-image: url("./assets/banner.jpg");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light);
}

/*========================= end-hero ========================*/

/*========================= gallery ========================*/

.gallery-head {
  text-align: center;
}

.gallery-head h2 {
  font-size: 2.5rem;
  font-family: var(--header-font);
  margin: 1rem;
}

.gallery-container {
  padding: 5rem 1rem;
}

.gallery-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.gallery-card {
  position: relative;
  overflow: hidden;
}

.gallery-content h4 {
  font-size: 2rem;
  font-family: var(--header-font);
}

.gallery-content {
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
  transition: 0.3s;
}

.gallery-card:hover .gallery-content {
  bottom: 0rem;
}
/*========================= gallery ========================*/

/*========================== CONTACT =======================*/

.section-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-contact .text {
  width: 23rem;
}

.section-contact .text h4 {
  font-size: 2.3rem;
  font-family: var(--header-font);
}

.section-contact .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.section-contact .phone:hover i {
  color: var(--secondary-color);
}

.section-contact .phone h4 {
  font-size: 2.3rem;
  font-family: var(--header-font);
}

.section-contact .phone i {
  font-size: 2rem;
}

.section-contact .email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border: 2px solid var(--white);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.section-contact .email:hover i {
  color: var(--secondary-color);
}

.section-contact .email h4 {
  font-size: 2.3rem;
  font-family: var(--header-font);
}

.section-contact .email i {
  font-size: 2rem;
}

/*========================== end-CONTACT =======================*/

/*========================== footer =======================*/

.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  font-size: 1.4rem;
}

.section-footer .icons i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.section-menu h4:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.section-footer p {
  text-align: center;
}

.footer-end {
  padding: 1.4rem;
  text-align: center;
}

.footer-end p {
  padding-top: 1rem;
  font-weight: 400;
  font-family: var(--header-font);
}
